<div style="float: right">
    <a href="#/">Home</a>
    &nbsp;|&nbsp;
    <a href="#/setup">Setup</a>
    &nbsp;|&nbsp;
    <a href="#/routing">Routing</a>
    &nbsp;|&nbsp;
    <a href="#/bindings">Bindings</a>
    &nbsp;|&nbsp;
    <a href="#/observer">Observer</a>
    &nbsp;|&nbsp;
    <a href="#/requests">Requests</a>
    &nbsp;|&nbsp;
    <a href="#/store">Store</a>
    &nbsp;|&nbsp;
    <a href="#/indexed">Indexed</a>
    &nbsp;|&nbsp;
    <a href="#/validation">Validation</a>
</div>
<h1>Riggr</h1>

<div id="viewContainer">
    <!-- Where views are loaded... -->
</div>